<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
<!--         <section class="content-header">
          <h1>
            Dashboard
            <small>Version 2.0</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
        </section> -->

        <!-- Main content -->
        <div>
          <span style="font-size: 36px;">&nbsp; Nidhin  R Nath </span>
          <span style="color: #dd4b39; font-size: 28px;"> &nbsp; 2003 </span>
        </div>

        <section class="content">
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <div class="col-md-8">
              <!-- MAP & BOX PANE -->


              <!-- TABLE: LATEST ORDERS -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Assigned Projects</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="table-responsive">
                    <table class="table no-margin">
                      <thead>
                        <tr>
                          <th>Project ID</th>
                          <th>Name</th>
                          <th>Roles</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR9842</a></td>
                          <td>PROJECT 1</td>
                          <td><span class="label label-info">Quality Assurance</span></td>
                          <td><div class="sparkbar" data-color="#00a65a" data-height="20">Active</div></td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR1848</a></td>
                          <td>PROJECT 2</td>
                         <td><span class="label label-success">UI Developer</span></td>
                          <td><div class="sparkbar" data-color="#f39c12" data-height="20">Active</div></td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR7429</a></td>
                          <td>PROJECT 3</td>
                          <td><span class="label label-warning">Java Developer</span></td>
                          <td><div class="sparkbar" data-color="#f56954" data-height="20">Active</div></td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR7429</a></td>
                          <td>PROJECT 4</td>
                              <td><span class="label label-info">Quality Assurance</span></td>
                          <td><div class="sparkbar" data-color="#00c0ef" data-height="20">Active</div></td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR1848</a></td>
                          <td>PROJECT 5</td>
                            <td><span class="label label-info">Quality Assurance</span></td>
                          <td><div class="sparkbar" data-color="#f39c12" data-height="20">Active</div></td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR7429</a></td>
                          <td>PROJECT 6</td>
                              <td><span class="label label-info">Quality Assurance</span></td>
                          <td><div class="sparkbar" data-color="#f56954" data-height="20">Active</div></td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR9842</a></td>
                          <td>PROJECT 7</td>
                             <td><span class="label label-info">Quality Assurance</span></td> 
                          <td><div class="sparkbar" data-color="#00a65a" data-height="20">Active</div></td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                  <a href="javascript::;" class="btn btn-sm btn-info btn-flat pull-left">Request Release</a>
                  <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">Request Allocation</a>
                </div><!-- /.box-footer -->
              </div><!-- /.box -->
            </div><!-- /.col -->

            <div class="col-md-4">



              <!-- Info Boxes Style 2 -->
              <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="ion ion-ios-time-outline"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text"> Milestone 2 </span>
                  <span class="info-box-number">PROJECT 4</span>
                  <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                  </div>
                  <span class="progress-description">
                    Release in 3 Days
                  </span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
              <div class="info-box bg-green">
                <span class="info-box-icon"><i class="ion ion-ios-timer"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text"> Milestone 2 </span>
                  <span class="info-box-number">PROJECT 4</span>
                  <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                  </div>
                  <span class="progress-description">
                    Release in 6 Days
                  </span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
              <div class="info-box bg-red">
                <span class="info-box-icon"><i class="ion ion-ios-monitor"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text"> Milestone 1 </span>
                  <span class="info-box-number">PROJECT 2</span>
                  <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                  </div>
                  <span class="progress-description">
                    Release in 11 Days
                  </span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
              <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="ion-ios-cloud-download-outline"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text"> UAT Release </span>
                  <span class="info-box-number">PROJECT 7</span>
                  <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                  </div>
                  <span class="progress-description">
                    Release in 28 Days
                  </span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->




            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->